
body {
  font-family: "Times New Roman", serif;
  background-color: #f5f5f5;
  margin: 0;
  color: #222;
  background-color: var(--backgray);
}

.document {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 2rem 3rem;
  max-width: 800px;
  margin: 0 auto 3rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.section {
  margin-bottom: 2rem;
}

.section h2 {
  font-size: 1.3rem;
  border-bottom: 1px solid #000;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

.charges p {
  margin: 0.4rem 0;
  line-height: 1.5;
}

.charges strong {
  display: block;
  margin-top: 1rem;
}


.list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.list a {
    text-decoration: none;
    font-size: x-large;
    &:hover{
        color: var(--lightblue);
    }
}