@property --spinning{
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
.card::after, .card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    background: conic-gradient(from var(--spinning),var(--gradiant));
    animation: 15s spin linear infinite;
}

.card::before {
    filter: blur(1.2rem);
    opacity: .6;
}

@keyframes spin {
    from {
        --spinning: 0deg;
    }
    to{
        --spinning: 360deg;
    }
}