footer {
    background-color: var(--backblack);
    color: var(--textwhite);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

p {
    padding-top: 2%;
}