.header {
    background-color: var(--backblack);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav a {
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bold;
}

.nav a:hover {
    color: var(--lightblue);
}