body {
    background-color: var(--backgray);
}

.card-container {
    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: auto;
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.card {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    padding: 0.5rem;
    background-color: var(--backgray);
    text-align: center;
    border-radius: 3px;
    position: relative;
}


.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    text-align: center;
}

.info {
    margin-top: 2rem;
}